<tr>
  <% table.headers.each do |head| %>
    <td><%= head %></td>
  <% end %>
</tr>

  <% table.each do |data| %>
    <tr>
    <% data.each do |dt| %>
      <td><%= dt[1] %></td>
    <% end %>
    </tr>
  <% end %>
